.netflix-input {
  font-family: "Circular Std", sans-serif;
  position: relative;
}

.netflix-input input {
  background: #333;
  width: 300px;
  color: white;
  border-radius: 4px;
  padding: 16px 20px 0;
  height: 50px;
  border: none;
  box-sizing: border-box;
  outline: none;
}

.netflix-input label {
  position: absolute;
  cursor: text;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: #8c8c8c;
  transition: all 0.1s ease;
}

.netflix-input input:focus + label,
.netflix-input input:valid + label {
  top: 30%;
  font-size: 11px;
}
