svg {
  margin-left: 5%;
  cursor: pointer;
}

polygon {
  fill: transparent;
  stroke: white;
  stroke-width: 1px;
  transition: fill 0.1s ease;
}

.star-checked {
  fill: #ffa500;
  stroke: #ffa500;
  stroke-width: 1;
  animation: shine 0.3s ease-out forwards;
  transform-origin: center;
}

@keyframes shine {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  40% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
